[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

Pandas toma como base a Numpy y lo extiende para poder realizar operaciones de análisis de datos, por lo que es compatible con elementos como:

* *np.NaN*.
* *np.Inf*.

In [ ]:
import pandas as pd
import numpy as np

## Tipos de datos de Pandas.

Pandas extiende y restringe los tipos de datos de Python y de Numpy a los siguientes:

* *object*, el cual representa a una cadena de caracteres.
* *int64*, es el tipo para números enteros. 
* *float64* es el tipo para números de punto flotante.
* *bool* es el tipo para valores booleanos.
* *datetime64* es el tipo usado para gestionar fechas y horas.
* *timedelta* es el tipo de diferencias de tiempo. Se estudiará más adelante.
* *category* es un tipo de dato que contiene una colección finita de posibles valores y se estudiará más adelante.

### La función *pd.datetime()*.

Esta función crea elementos de un tipo *datetime64*.

```
datetime(<año>, <mes>, <día>, <hora>, <minuto>, <segundo>, <microsegundo>,<tzinfo>)
```

Los datos obligatorios de este formato son:

* *año*.
* *mes*.
* *día*.

**Ejemplo:**

* A continuación se creará un Dataframe que define las columnas.
    * *nombres* de tipo *object*.
    * *fechas* de tipo *datetime64*.
    * *saldo* de tipo *float64*.
    * *al corriente* de tipo *bool*.

In [ ]:
datos = pd.DataFrame({'nombres':('Juan Pérez',
                                 'María Sánchez'
                                 , 'Jorge Vargas',
                                 'Rodrigo Martínez'),
            'fechas':(pd.datetime(1995,12,21), 
                      pd.datetime(1989,1,13), 
                      pd.datetime(1992,9,14), 
                      pd.datetime(1993,7,8)),
            'saldo': (2500, 
                      5345, 
                      np.NaN, 
                      11323.2),
            'al corriente':(True, 
                            True, 
                            False, 
                            True)})

In [ ]:
datos

## El atributo *dtypes*.

Este atributo regresa un listado de los tipos de datos de cada columna de un Dataframe.

**Ejemplo:**

* A partir del Dataframe *datos* se obtendrá el tipo de datos de cada columna.

In [ ]:
datos.dtypes

## El método *astype()*.

Este método permite transformar un objeto de Pandas a un tipo de dato específico. 

```
<serie o dataframe>.astype('<tipo>')
```

**Ejemplos:**

* La siguiente celda convertirá el contenido del Dataframe *datos* a *str*, lo cual dará por resultado elemenbtos de tipo *object*.

In [ ]:
datos.astype(str)

In [ ]:
datos.astype(str).dtypes

* La siguiente celda intentará convertir el contenido de la columna *datos['saldo']* a *int64*. Sin embargo, algunos de sus contenidos no pueden ser convertidos a ese tipo de datos.

In [ ]:
datos['saldo'].astype("int64")

## La función *pd.to_datetime()*.

Esta función permite crear una columna de tipo *datetime64* a partir de columnas cuyos encabezados sean:

* *year* (obligatorio)
* *month* (obligatorio)
* *day* (obligatorio)
* *hour*
* *minutes*
* *seconds*

**Ejemplo:**

* La siguiente celda creará una dataframe con las columnas:
    * *year*
    * *month*
    * *day*
    * *hour*
    * *minutes*
    * *seconds*

In [ ]:
fechas = pd.DataFrame({'year': [1997, 1982, 1985],
                       'month': [1, 12, 3],
                       'day': [14, 5, 21],
                       'hour':[17, 0, 4],
                       'minutes':[45, 39, 28],
                      'seconds':[11.1803, 23.74583, 3.8798]})

In [ ]:
fechas

* A continuacion se aplicará la función *pd.to_datetime()*.

En este caso el dataframe es transformado en una serie, la cual será nombrada *nuevas_fechas*.

In [ ]:
nuevas_fechas = pd.to_datetime(fechas)

In [ ]:
nuevas_fechas

In [ ]:
type(nuevas_fechas)

## La función *pd.to_numeric()*.

Esta función transforma a un objeto a un formato numérico.

**Ejemplo:**

* La siguiente celda transformará la serie *nuevas_fechas* a formato numérico.

In [ ]:
pd.to_numeric(nuevas_fechas)

In [ ]:
pd.to_datetime(pd.to_numeric(nuevas_fechas))

## La función pd.to_timedelta().

Esta función convertirá valores numéricos a formato *timedelta* usando nanosegundos como referencia.

**Ejemplo:**

* La siguiente celda generará un dataframe que contiene una secuencia de 100 números.

In [ ]:
datos = pd.DataFrame(np.arange(2811154301025, 2811154301125, 5).reshape(10, 2))

In [ ]:
datos

* Se aplicará la función *pd.to_timedelta()* a *datos[1]*.

In [ ]:
pd.to_timedelta(datos[1])

In [ ]:
pd.to_timedelta(nuevas_fechas)

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>