[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

Pandas toma como base a Numpy y lo extiende para poder realizar operaciones de análisis de datos, por lo que es compatible con elementos como:

* *np.NaN*.
* *np.Inf*.

In [1]:
import pandas as pd
import numpy as np

## Tipos de datos.
* *object*, el cual reporesenta a una cadena de caracteres.
* *int64*, es el tipo para números enteros. 
* *float64* es el tipo para números de punto flotante.
* *bool* es el tipo para valores booleanos.
* *datetime* es el tipo usado para gestionar fechas y horas.
* *timedelta* es el tipo de diferencias de tiempo. Se estudiará más adelante.
* *category* es un tipo de dato que contiene un conjunto finito de posibles valores y se etudiará más adelante.

### El tipo *pd.datetime*.

Este es un tipo de dato correponde a valores de fecha y hora.

```
datetime(<año>, <mes>, <día>, <hora>, <minuto>, <segundo, <microsegundo>,<tzinfo>)
```

Los datos necesarios son:

* *año*.
* *mes*.
* *día*.

El resto son opcionales.

**Ejemplo:**

In [4]:
datos = pd.DataFrame({'nombres':('Juan Pérez', 'María Sánchez', 'Jorge Vargas', 'Rodrigo Martínez'),
            'fechas':(pd.datetime(1995,12,21), pd.datetime(1989,1,13), pd.datetime(1992,9,14), pd.datetime(1993,7,8)),
            'saldo': (2500, 5345, np.NaN, 11323.2),
            'al corriente':(True, True, False, True)})

In [5]:
datos

            nombres     fechas    saldo  al corriente
0        Juan Pérez 1995-12-21   2500.0          True
1     María Sánchez 1989-01-13   5345.0          True
2      Jorge Vargas 1992-09-14      NaN         False
3  Rodrigo Martínez 1993-07-08  11323.2          True

## El atributo *dtypes*.

In [6]:
datos.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al corriente              bool
dtype: object

## El método *astype()*.

```
<serie o dataframe>.astype('<tipo>')
```

In [11]:
datos.astype(str)

            nombres      fechas    saldo al corriente
0        Juan Pérez  1995-12-21   2500.0         True
1     María Sánchez  1989-01-13   5345.0         True
2      Jorge Vargas  1992-09-14      nan        False
3  Rodrigo Martínez  1993-07-08  11323.2         True

In [15]:
datos.astype(str).dtypes

nombres         object
fechas          object
saldo           object
al corriente    object
dtype: object

In [16]:
datos['saldo'].astype("object")

0       2500
1       5345
2        NaN
3    11323.2
Name: saldo, dtype: object

In [17]:
datos['saldo'].astype("int")

ValueError: Cannot convert non-finite values (NA or inf) to integer

## La función *pd.to_datetime()*.

In [18]:
fechas = pd.DataFrame({'year': [1997, 1982, 1985],
                       'month': [1, 12, 3],
                       'day': [14, 5, 21]})

In [19]:
fechas

   year  month  day
0  1997      1   14
1  1982     12    5
2  1985      3   21

In [20]:
nuevas_fechas= pd.to_datetime(fechas)

In [21]:
nuevas_fechas

0   1997-01-14
1   1982-12-05
2   1985-03-21
dtype: datetime64[ns]

## La función *pd.to_numeric()*.

In [22]:
pd.to_numeric(nuevas_fechas)

0    853200000000000000
1    407894400000000000
2    480211200000000000
dtype: int64

In [ ]:
pd.to_datetime(pd.to_numeric(nuevas_fechas))

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>