[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

# El método ```pd.DataFrame.filter()```.

In [3]:
import pandas as pd

El método ```pd.DataFrame.filter()``` permite buscar coincidencias mediante ciertos argumentos de búsqueda sobre los índices del dataframe de origen. El resultado es un dataframe nuevo con las coincidencias de la búsqueda.

```
<dataframe>.filter(<argumeto>, axis=<eje>)
```

Donde:

* ```<dataframe>``` es un dataframe de *Pandas*.
* ```<eje>``` es el eje sibre el que se ejecutará la búsqueda de los índices.
* ```<argumento>``` es un argumento que define los cirterios de búsqueda. Los parámetros disponibles para los argumentos de este método son:
    * ```items``` en el que se definen los encabezados a buscar dentro de un objeto iterable.
    * ```like``` en el que se define una cadena de caracteres que debe coincidir con el identificador de algún índice.
    * ```regex``` define un patrón mediante una expresión regular.


https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html

**Ejemplos:**

* La siguente celda definirá al dataframe ```facturas``` con los identificadores de columnas:
    * ```'folio'```.
    * ```'sucursal'```.
    * ```'monto'```.
    * ```'fecha'```.
    * ```'cliente'```.

In [4]:
facturas = pd.DataFrame({'folio':(15234, 
                      15235, 
                      15236, 
                      15237, 
                      15238, 
                      15239, 
                      15240,
                      15241,
                      15242),
             'sucursal':('CDMX01',
                         'MTY01',
                         'CDMX02',
                         'CDMX02',
                         'MTY01',
                         'GDL01',
                         'CDMX02',
                         'MTY01',
                         'GDL01'),
             'monto':(1420.00,
                     1532.00,
                     890.00,
                     1300.00,
                     3121.47,
                     1100.5,
                     12230,
                     230.85,
                     1569),
             'fecha':(pd.datetime(2019,3,11,17,24),
                     pd.datetime(2019,3,24,14,46),
                     pd.datetime(2019,3,25,17,58),
                     pd.datetime(2019,3,27,13,11),
                     pd.datetime(2019,3,31,10,25),
                     pd.datetime(2019,4,1,18,32),
                     pd.datetime(2019,4,3,11,43),
                     pd.datetime(2019,4,4,16,55),
                     pd.datetime(2019,4,5,12,59)),
            'cliente':(19234,
                       19232,
                       19235,
                       19233,
                       19236,
                       19237,
                       19232,
                       19233,
                       19232)
                        })

/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:28: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:29: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:30: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:31: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:32: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:33: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:34: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:35: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/home/oi/pythonista/lib/python3.7/site-packages/ipykernel_launcher.py:36: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [5]:
facturas

   folio sucursal     monto               fecha  cliente
0  15234   CDMX01   1420.00 2019-03-11 17:24:00    19234
1  15235    MTY01   1532.00 2019-03-24 14:46:00    19232
2  15236   CDMX02    890.00 2019-03-25 17:58:00    19235
3  15237   CDMX02   1300.00 2019-03-27 13:11:00    19233
4  15238    MTY01   3121.47 2019-03-31 10:25:00    19236
5  15239    GDL01   1100.50 2019-04-01 18:32:00    19237
6  15240   CDMX02  12230.00 2019-04-03 11:43:00    19232
7  15241    MTY01    230.85 2019-04-04 16:55:00    19233
8  15242    GDL01   1569.00 2019-04-05 12:59:00    19232

* La siguiente celda regresará un dataframe cuyos identificadores de columna sean exactamente ```'cliente'``` o ```'sucursal'```.

In [6]:
facturas.filter(items=['cliente','sucursal'])

   cliente sucursal
0    19234   CDMX01
1    19232    MTY01
2    19235   CDMX02
3    19233   CDMX02
4    19236    MTY01
5    19237    GDL01
6    19232   CDMX02
7    19233    MTY01
8    19232    GDL01

* La siguiente celda regresará un dataframe cuyos identificadores de columna que incluyan la cadena ```'mon'```.

In [7]:
facturas.filter(like="mon")

      monto
0   1420.00
1   1532.00
2    890.00
3   1300.00
4   3121.47
5   1100.50
6  12230.00
7    230.85
8   1569.00

* La siguiente celda regresará un dataframe cuyos identificadores de columna que incluyan la cadena ```'o'```.

In [8]:
facturas.filter(like="o")

   folio     monto
0  15234   1420.00
1  15235   1532.00
2  15236    890.00
3  15237   1300.00
4  15238   3121.47
5  15239   1100.50
6  15240  12230.00
7  15241    230.85
8  15242   1569.00

* La siguiente celda regresará un dataframe cuyos identificadores de índice que incluyan la cadena ```'1'```.

In [10]:
facturas.filter(like="1", axis=0)

   folio sucursal   monto               fecha  cliente
1  15235    MTY01  1532.0 2019-03-24 14:46:00    19232

* La siguiente celda regresará un dataframe cuyos identificadores de columna cumplan con la expresi;on regular ```r"sal$"```.

In [12]:
facturas.filter(regex=r"sal$")

  sucursal
0   CDMX01
1    MTY01
2   CDMX02
3   CDMX02
4    MTY01
5    GDL01
6   CDMX02
7    MTY01
8    GDL01

## Ejemplo con ```pd.DataFrame.filter()``` y ```pd.DataFrame.merge().```

In [ ]:
clientes = pd.DataFrame({'ident':(19232, 
                             19233, 
                             19234, 
                             19235, 
                             19236),
                       'nombre':('Adriana',
                               'Marcos',
                               'Rubén',
                               'Samuel',
                               'Martha'),
                       'primer_apellido':('Sánchez',
                                        'García',
                                        'Rincón',
                                        'Oliva',
                                         'Martínez'),
                        'suc_origen':('CDMX01',
                                      'CDMX02',
                                      'CDMX02',
                                      'CDMX01',
                                      'CDMX03')
                        })

In [ ]:
clientes

In [ ]:
clientes.filter(items=['ident', 
                       'nombre', 
                       'primer_apellido']).merge(facturas,
                                                left_on='ident',
                                                right_on='cliente')

In [ ]:
clientes.filter(items=['ident', 
                       'nombre', 
                       'primer_apellido']).\
merge(facturas,
      left_on='ident',
      right_on='cliente').\
filter(items=['folio', 'nombre', 'primer_apellido', 'monto'])

In [ ]:
reporte = clientes.filter(items=['ident', 
                       'nombre', 
                       'primer_apellido']).\
merge(facturas,
      left_on='ident',
      right_on='cliente').\
filter(items=['folio', 'nombre', 'primer_apellido', 'monto'])

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2020.</p>