[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

## El método *apply()*.

El método apply permite aplicar una función a un objeto Serie o DataFrame.

In [7]:
import pandas as pd
import numpy as np

In [2]:
indice = ('lobo', 'jaguar', 'coyote', 'halcón', 'lechuza', 'aguila')
poblacion_depredadores=pd.DataFrame({'Norte-1':(25,
                                                0,
                                                45,
                                                23,
                                                67,
                                                12),
                                     'Norte-2':(31,
                                                0,
                                                23,
                                                3,
                                                34,
                                                 2),
                                     'Sureste-1':(0,
                                                  4,
                                                  3,
                                                  1,
                                                  1,
                                                  2),
                                     'Sureste-2':(2,
                                                 0,
                                                 12,
                                                 23,
                                                 11,
                                                 2)},
                                   index=indice)

In [3]:
poblacion_depredadores

         Norte-1  Norte-2  Sureste-1  Sureste-2
lobo          25       31          0          2
jaguar         0        0          4          0
coyote        45       23          3         12
halcón        23        3          1         23
lechuza       67       34          1         11
aguila        12        2          2          2

In [14]:
poblacion_depredadores.apply(lambda x: x + 2, axis=1)

         Norte-1  Norte-2  Sureste-1  Sureste-2
lobo          27       33          2          4
jaguar         2        2          6          2
coyote        47       25          5         14
halcón        25        5          3         25
lechuza       69       36          3         13
aguila        14        4          4          4

## Aplicando funciones de *numpy*.

In [8]:
poblacion_depredadores.apply(np.sum)

Norte-1      172
Norte-2       93
Sureste-1     11
Sureste-2     50
dtype: int64

In [9]:
poblacion_depredadores.apply(np.mean)

Norte-1      28.666667
Norte-2      15.500000
Sureste-1     1.833333
Sureste-2     8.333333
dtype: float64

In [11]:
poblacion_depredadores.apply(np.mean, axis=1)

lobo       14.50
jaguar      1.00
coyote     20.75
halcón     12.50
lechuza    28.25
aguila      4.50
dtype: float64

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>