[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

# Los métodos ```mask()``` y ```where()```.

In [6]:
import pandas as pd

En este capítulo se explorarán los métodos que permiten sustituir los valores de un arreglo mediante otro arreglo con valores booleanos.

## Enmascaramiento.

Se entiende por "enmascaramiento" la sustitución por un valor determinado de los elementos de una serie o dataframe de *Pandas* al aplicar otro dataframe o serie de tamaño idéntico que contiene valores booleanos.

## El método ```mask()```.

El método ```mask()``` permite sutituir por un valor predeterminado a aquellos elementos cuya contraparte en el objeto usado como máscara sea ```True```.

```
<objeto>.mask(<objeto máscara>, <valor>)
```

Donde:

* ```<objeto>``` es una serie o un dataframe.
* ```<objeto máscara>``` es una serie o un dataframe de dimensiones idénticas a ```<objeto>``` donde todos su elementos son de tipo ```bool```.
* ```valor``` es el valor que sutituirá a aquellos elementos en ```<objeto>``` cuya contraparte en ```<objeto máscara>``` sea ```True```.

**Ejemplo:**

* Se creará el dataframe ```poblacion_depredadores````.

In [9]:
indice = ('lobo', 'jaguar', 'coyote', 'halcón', 'lechuza', 'aguila')
poblacion_depredadores = pd.DataFrame({'Norte-1':(25,
                                                0,
                                                45,
                                                23,
                                                67,
                                                12),
                                     'Norte-2':(31,
                                                0,
                                                23,
                                                3,
                                                34,
                                                 2),
                                     'Sureste-1':(0,
                                                  4,
                                                  3,
                                                  1,
                                                  1,
                                                  2),
                                     'Sureste-2':(2,
                                                 0,
                                                 12,
                                                 23,
                                                 11,
                                                 2)},
                                   index=indice)

In [10]:
poblacion_depredadores

         Norte-1  Norte-2  Sureste-1  Sureste-2
lobo          25       31          0          2
jaguar         0        0          4          0
coyote        45       23          3         12
halcón        23        3          1         23
lechuza       67       34          1         11
aguila        12        2          2          2

* Se creará el dataframe ```poblacion_evaluada``` validando si cada elemento del ```poblacion_depredadores``` es igual a cero.

In [4]:
poblacion_evaluada = poblacion_depredadores == 0

In [5]:
poblacion_evaluada

         Norte-1  Norte-2  Sureste-1  Sureste-2
lobo       False    False       True      False
jaguar      True     True      False       True
coyote     False    False      False      False
halcón     False    False      False      False
lechuza    False    False      False      False
aguila     False    False      False      False

* La siguiente celda sustiruirá por ```'extinto'``` aquellos valores en ```poblacion_depredadores``` que correspondan a ```True``` en la contraparte de ```poblacion_evaluada```.

In [11]:
poblacion_depredadores.mask(poblacion_evaluada, 'extinto')

         Norte-1  Norte-2 Sureste-1 Sureste-2
lobo          25       31   extinto         2
jaguar   extinto  extinto         4   extinto
coyote        45       23         3        12
halcón        23        3         1        23
lechuza       67       34         1        11
aguila        12        2         2         2

## El método *where()*.


El método ```WHERE()``` permite sutituir por un valor predeterminado a aquellos elementos cuya contraparte en el objeto usado como máscara sea ```False```.

```
<objeto>.where(<objeto máscara>, <valor>)
```

Donde:

* ```<objeto>``` es una serie o un dataframe.
* ```<objeto máscara>``` es una serie o un dataframe de dimensiones idénticas a ```<objeto>``` donde todos su elementos son de tipo ```bool```.
* ```valor``` es el valor que sutituirá a aquellos elementos en ```<objeto>``` cuya contraparte en ```<objeto máscara>``` sea ```Flase```.

**Ejemplo:**

* La siguiente celda sustituirá por ```'sin riesgo'``` a aquellos elementos cuyo valor sea mayor o igual ```10```.

In [13]:
poblacion_depredadores.where(poblacion_depredadores < 10, 'sin riesgo')

            Norte-1     Norte-2  Sureste-1   Sureste-2
lobo     sin riesgo  sin riesgo          0           2
jaguar            0           0          4           0
coyote   sin riesgo  sin riesgo          3  sin riesgo
halcón   sin riesgo           3          1  sin riesgo
lechuza  sin riesgo  sin riesgo          1  sin riesgo
aguila   sin riesgo           2          2           2

## Ejemplo de combinación de ```mask()``` y where```()```.

* La siguiente celda sustituirá por ```'sin riesgo'``` a aquellos elementos cuyo valor sea mayor o igual ```10``` y sustituirá por ```'amenazado'``` a aquellos elementos cuyo valor sea menor a ```10```.

In [15]:
poblacion_depredadores.where(poblacion_depredadores < 10, 'sin riesgo').mask(poblacion_depredadores < 10, 'amenazados')

            Norte-1     Norte-2   Sureste-1   Sureste-2
lobo     sin riesgo  sin riesgo  amenazados  amenazados
jaguar   amenazados  amenazados  amenazados  amenazados
coyote   sin riesgo  sin riesgo  amenazados  sin riesgo
halcón   sin riesgo  amenazados  amenazados  sin riesgo
lechuza  sin riesgo  sin riesgo  amenazados  sin riesgo
aguila   sin riesgo  amenazados  amenazados  amenazados

* La siguiente celda usará los métodos ```filter()```, ```where()``` y ```mask()``` para aplicar el criterio del ejemplo previo, pero sólo a la columna ```'Sureste-2```.

In [17]:
poblacion_depredadores.filter(items=['Sureste-2']).where(poblacion_depredadores < 10, 'sin riesgo').mask(poblacion_depredadores < 10, 'amenazados')

          Sureste-2
lobo     amenazados
jaguar   amenazados
coyote   sin riesgo
halcón   sin riesgo
lechuza  sin riesgo
aguila   amenazados

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>