[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

En este capítulo se explorarán los métodos de sustitución de los obetos de Pandas por medio utilizando una expresión lógica.

## El método *mask()*.

El método *mask()* permite sutituir con valor a aquellos elmentos que cumplan una condición lógica.

```
<objeto>.mask(<expresión lógica>, <valor>)
```

In [1]:
import pandas as pd

In [2]:
indice = ('lobo', 'jaguar', 'coyote', 'halcón', 'lechuza', 'aguila')
poblacion_depredadores=pd.DataFrame({'Norte-1':(25,
                                                0,
                                                45,
                                                23,
                                                67,
                                                12),
                                     'Norte-2':(31,
                                                0,
                                                23,
                                                3,
                                                34,
                                                 2),
                                     'Sureste-1':(0,
                                                  4,
                                                  3,
                                                  1,
                                                  1,
                                                  2),
                                     'Sureste-2':(2,
                                                 0,
                                                 12,
                                                 23,
                                                 11,
                                                 2)},
                                   index=indice)

In [3]:
poblacion_depredadores

         Norte-1  Norte-2  Sureste-1  Sureste-2
lobo          25       31          0          2
jaguar         0        0          4          0
coyote        45       23          3         12
halcón        23        3          1         23
lechuza       67       34          1         11
aguila        12        2          2          2

* La siguiente celda sustiruirá aquellos elementos iguales a cero con la cadena de caracteres *"extinto"*.

In [4]:
poblacion_depredadores.mask(poblacion_depredadores == 0, 'extinto')

         Norte-1  Norte-2 Sureste-1 Sureste-2
lobo          25       31   extinto         2
jaguar   extinto  extinto         4   extinto
coyote        45       23         3        12
halcón        23        3         1        23
lechuza       67       34         1        11
aguila        12        2         2         2

## El método *where()*.


El método *where()* permite sutituir con valor a aquellos elmentos que NO cumplan una condición lógica.

```
<objeto>.where(<expresión lógica>, <valor>)
```

In [6]:
poblacion_depredadores.where(poblacion_depredadores < 10, 'sin riesgo')

            Norte-1     Norte-2  Sureste-1   Sureste-2
lobo     sin riesgo  sin riesgo          0           2
jaguar            0           0          4           0
coyote   sin riesgo  sin riesgo          3  sin riesgo
halcón   sin riesgo           3          1  sin riesgo
lechuza  sin riesgo  sin riesgo          1  sin riesgo
aguila   sin riesgo           2          2           2

In [7]:
poblacion_depredadores.where(poblacion_depredadores < 10, 'sin riesgo').mask(poblacion_depredadores < 10, 'amenazados')

            Norte-1     Norte-2   Sureste-1   Sureste-2
lobo     sin riesgo  sin riesgo  amenazados  amenazados
jaguar   amenazados  amenazados  amenazados  amenazados
coyote   sin riesgo  sin riesgo  amenazados  sin riesgo
halcón   sin riesgo  amenazados  amenazados  sin riesgo
lechuza  sin riesgo  sin riesgo  amenazados  sin riesgo
aguila   sin riesgo  amenazados  amenazados  amenazados

In [9]:
poblacion_depredadores.filter(items=['Sureste-1']).where(poblacion_depredadores < 10, 'sin riesgo').mask(poblacion_depredadores < 10, 'amenazados')

          Sureste-1
lobo     amenazados
jaguar   amenazados
coyote   amenazados
halcón   amenazados
lechuza  amenazados
aguila   amenazados

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>