[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

In [ ]:
import pandas as pd
import numpy as np

## El dataframe ilustrativo.

El siguiente dataframe describe un censo poblacional de animmales en diversas regiones geocráficas.

In [ ]:
poblacion = pd.DataFrame({'Animal':('lobo',
                                   'coyote',
                                   'jaguar',
                                   'cerdo salvaje',
                                    'tapir',
                                    'venado',
                                    'ocelote',
                                    'puma'),
                         'Norte_I':(12,
                                   np.NAN,
                                    None,
                                    2,
                                    4,
                                    2,
                                    14,
                                    5
                                   ),
                          'Norte_II':(23,
                                    4,
                                    25,
                                    21,
                                    9,
                                    121,
                                    1,
                                    2
                                   ),
                         'Centro_I':(15,
                                    23,
                                    2,
                                    120,
                                    40,
                                    121,
                                    0,
                                    5),
                         'Sur_I':(28,
                                  46,
                                  14,
                                  156,
                                  79,
                                  12,
                                  2,
                                  np.NAN)}).set_index('Animal')

In [ ]:
poblacion

## El atributo *values*.

In [ ]:
poblacion.values

## El método *head()*

Regresa los primeros *n* renglones de un objeto de Pandas.

```
<objeto de Pandas>.head(<n>)
```

In [ ]:
poblacion.head(3)

## El método *tail()*.

Regresa los últimos *n* renglones de un objeto de Pandas.

```
<objeto de Pandas>.tail(<n>)
```

In [ ]:
poblacion.tail(4)

## El método *nsmallest()*.

Regresa un número indicado de *n* renglones con los valores más pequeños de una o varias columnas de un objeto de Pandas.

```
<objeto de Pandas>.nsmallest(<n>, columms=[<columnas>])
```

In [ ]:
poblacion.nsmallest(3, columns='Norte_I')

In [ ]:
poblacion.nsmallest(3, columns=['Norte_I', 'Sur_I'])

## El método *nlargest()*

Regresa un número indicado de *n* renglones con los valores más grandes de una o varias columnas de un objeto de Pandas.

```
<objeto de Pandas>.nsmallest(<n>, columms=[<columnas>])
```

In [ ]:
poblacion.nlargest(3, columns='Sur_I')

In [ ]:
poblacion.nlargest(3, columns=['Sur_I', 'Norte_I'])

## El método *isin()* .

Regresa otro objeto con contenidos booleanos indicando si el elemento del  objeto original se encuentra dentro de un iterable dado como argumento.
```
<objeto de Pandas>.isin(<iterable>)
```

In [ ]:
poblacion.isin(range(20,31))

In [ ]:
especies = pd.DataFrame({'Animal':('lobo',
                                   'coyote',
                                   'jaguar'),
                         'Norte_I':('estable',
                                   'amenzado',
                                'amenazado'),
                          'Norte_II':('estable',
                                    'estable',
                                    'extinto'),
                         'Centro_I':('estable',
                                    'amenazado',
                                    'extinto'),
                         'Sur_I':('amenazado',
                                  'extinto',
                                  'estable')}).set_index('Animal')

In [ ]:
especies

In [ ]:
especies.isin(['amenazado', 'extinto'])

## El método *diff()*.

Calcula la diferencia entre un elemento previo.

```
<objeto de Pandas>.diff(axis=<eje>)
```

In [ ]:
poblacion

In [ ]:
poblacion.diff()

In [ ]:
poblacion

In [ ]:
poblacion.diff(axis=1)

## El método  *eval()*.

Ese método evalúa expresiones que se ingresan como cadenas de catacteres y qeu implican a las columnas de un DataFrame.

```
<objeto de Pandas>.eval('<expresion>')
```

In [ ]:
poblacion.eval("Norte_I + Norte_II")

In [ ]:
poblacion_erronea = pd.DataFrame({'Animal':('lobo',
                                   'coyote',
                                   'jaguar',
                                   'cerdo salvaje',
                                    'tapir',
                                    'venado',
                                    'ocelote',
                                    'puma'),
                         'Norte-I':(12,
                                   np.NAN,
                                    None,
                                    2,
                                    4,
                                    2,
                                    14,
                                    5
                                   ),
                          'Norte-II':(23,
                                    4,
                                    25,
                                    21,
                                    9,
                                    121,
                                    1,
                                    2
                                   ),
                         'Centro-I':(15,
                                    23,
                                    2,
                                    120,
                                    40,
                                    121,
                                    0,
                                    5),
                         'Sur-I':(28,
                                  46,
                                  14,
                                  156,
                                  79,
                                  12,
                                  2,
                                  np.NAN)}).set_index('Animal')

In [ ]:
poblacion.eval("Norte-I + Norte-II")

In [ ]:
poblacion.eval("Norte = Norte_I + Norte_II")

In [ ]:
poblacion

Al utilizar el argumento *inplace=True*, el resultado de la expresión es añadido al objeto original.

In [ ]:
poblacion.eval("Norte = Norte_I + Norte_II", inplace=True)

In [ ]:
poblacion

## El método *take()*.

 Este método va a obtener los renglones que se indiquen en función de un índice numérico.
 
 
 ```
 <objeto de Pandas>.take(<colección de índices numéricos>)
 ```

In [ ]:
poblacion.take([1,4])

In [ ]:
poblacion.take(range(2,7,2))

## El método *replace()*.

Este método sustituye un valor a que coincida con uno de los valores dados como argumento.

 ```
 <objeto de Pandas>.relace(<colección de valores>, <valor de sustitución>)
 ```

In [ ]:
poblacion.replace(np.NaN, 0)

In [ ]:
poblacion.replace([0, np.NaN], 'extinto')

## El método *assign()*.

Crea una columna que contendrá los datros resultantes de una función.
```
<objeto de Pandas>.assign(<Identificador de columna>=<función>)
```

In [ ]:
poblacion.assign(Sureste=poblacion['Sur_I'] * .5)

In [ ]:
poblacion.assign(Sureste=lambda x: x['Sur_I'] * .5)

## El método *update()*.

Este método combinará 2 dataframes. Sólo va a sustituir los elemento que ya existan.

In [ ]:
especies

In [ ]:
otras_especies = pd.DataFrame({'Animal':('lobo',
                                   'antilope',
                                   'tucán'),
                         'Norte_I':('estable',
                                   'estables',
                                   'estable'),
                          'Norte_II':('extinto',
                                    'estable',
                                    'estable'),
                         'Centro_I':('estable',
                                    'estable',
                                    'estable'),
                         'Sur_I':('estable',
                                  'estable',
                                  'estable')}).set_index('Animal')

In [ ]:
otras_especies

In [ ]:
especies.update(otras_especies)

In [ ]:
especies

## El método *combine()*.

## El método *transform()*

## El método *insert()*.

Este métodi insertárá una columna en la posición que se le indique.

```
<objeto de Pandas>.insert(<posición numérica>. <nombre de columna>, <valores>)
```

In [ ]:
poblacion.insert(4, 'Sur_II', [7, 21, 23, 6, 11, 32, 21, 1])

In [ ]:
poblacion

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>