[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

## Dataframes Ilustrativo.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
poblacion = pd.DataFrame({'Animal':('lobo',
                                   'coyote',
                                   'jaguar',
                                   'cerdo salvaje',
                                    'tapir',
                                    'venado',
                                    'ocelote',
                                    'puma'),
                         'Norte_I':(12,
                                   np.NAN,
                                    None,
                                    2,
                                    4,
                                    2,
                                    14,
                                    5
                                   ),
                          'Norte_II':(23,
                                    4,
                                    25,
                                    21,
                                    9,
                                    121,
                                    1,
                                    2
                                   ),
                         'Centro_I':(15,
                                    23,
                                    2,
                                    120,
                                    40,
                                    121,
                                    0,
                                    5),
                         'Sur_I':(28,
                                  46,
                                  14,
                                  156,
                                  79,
                                  12,
                                  2,
                                  np.NAN)}).set_index('Animal')

In [ ]:
poblacion

## El método *melt()*.

Este metódo modifica la esrtuctura de un dataframe identifando dos elementos:
* identificadores.
* variables.

In [ ]:
pd.melt(poblaciones, id_vars=["animal", "region"], value_vars=["poblacion"])

## El método *stack()*.

Este método transforma a un dataframe en un conjunto de series.

Lasd series resultantes cuentan con más de un índice y por eso se conocen como *MultiIndex*.

In [ ]:
poblacion

In [ ]:
serie_poblacion = poblacion.stack()

In [ ]:
serie_poblacion

In [ ]:
type(poblacion.stack())

In [ ]:
serie_poblacion.index

In [ ]:
serie_poblacion['lobo']

In [ ]:
serie_poblacion['lobo']['Norte_I']

## El método *unstack()*

Convierte una serie creada con el método *stack()* en un dataframe.

In [ ]:
serie_poblacion.unstack()

## El método *pivot()*.

Este método permite crear estructuras de dataframes a partir de columnas de otro dataframe.

```
<dataframe>.pivot(columns=<identificador de columna 1>, index=<identificador de columna 2>, values=<identificador de columna 2>)
```

**NOTA:** Los valores que se utilziarán para crear ewn unevo datavrame deben de ser del mismo tamaño.

In [ ]:
observaciones = pd.DataFrame({'region':('Norte', 'Norte', 'Norte',
                                        'Sur', 'Sur', 'Sur',
                                        'Este', 'Este', 'Este',
                                        'Oeste', 'Oeste', 'Oeste'),
                             'horario':('madrugada', 'tarde', 'media_noche',
                                        'madrugada', 'tarde', 'media_noche',
                                        'madrugada', 'tarde', 'media_noche',
                                        'madrugada', 'tarde', 'media_noche'),
                              'peatones':(153, 589, 35,
                                          215, 702, 87,
                                          95, 806, 22,
                                          290, 1390, 150),
                             'vehículos': (np.NaN, 1003, 304,
                                          506, 1421, 150,
                                          271, 1863, 198,
                                          948, 2279, 804)})

In [ ]:
observaciones

In [ ]:
observaciones.pivot(columns='region', 
                    values='peatones', 
                    index='horario')

In [ ]:
observaciones.pivot(columns='region', 
                    values='vehículos', 
                    index='horario')

## El método *pivot_table()*.

In [ ]:
observaciones_2 = pd.DataFrame({'region':('Norte', 'Norte', 'Norte',
                                        'Sur', 'Sur', 'Sur', 'Sur',
                                        'Este', 'Este', 'Este',
                                        'Oeste', 'Oeste', 'Oeste'),
                             'horario':('madrugada', 'tarde', 'media_noche',
                                        'madrugada', 'tarde', 'media_noche', 'madrugada',
                                        'madrugada', 'tarde', 'media_noche',
                                        'madrugada', 'tarde', 'media_noche'),
                              'peatones':(153, 589, 35,
                                          215, 702, 87, 221,
                                          95, 806, 22,
                                          290, 1390, 150),
                             'vehículos': (np.NaN, 1003, 304,
                                          506, 1421, 150, np.NaN,
                                          271, 1863, 198,
                                          948, 2279, 804)})

In [ ]:
observaciones_2

In [ ]:
observaciones_2.pivot(columns='region', 
                    values='vehículos', 
                    index='horario')

In [ ]:
observaciones_2.pivot_table(columns='region', 
                    values='vehículos', 
                    index='horario')

In [ ]:
observaciones_2.pivot_table(columns='region', 
                    values='peatones', 
                    index='horario')

In [ ]:
observaciones_2.pivot_table(columns='region', 
                    values='peatones', 
                    index='horario',
                    aggfunc=np.sum)

In [ ]:
observaciones_2.pivot_table(columns='region', 
                    values='peatones')

In [ ]:
observaciones_2.pivot(columns='region', 
                    values='peatones')

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>