[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

## Dataframe Ilustrativo.

In [3]:
import pandas as pd
import numpy as np

In [10]:
poblaciones = pd.DataFrame({'animal':('jaguar', 
                                    'ocelote', 
                                    'ajolote',
                                    'coyote',
                                    'jaguar', 
                                    'teporingo',
                                    'coyote',
                                    'lobo',
                                    'borrego cimarrón',
                                    'jaguar'),
                            'poblacion':(6,
                                         3,
                                         123,
                                         12,
                                         1023,
                                         6,
                                         20,
                                         200,
                                         2,
                                         15),
                            'region':('Sureste I',
                                     'Sureste I',
                                     'Centro I',
                                     'Centro I',
                                     'Sureste I',
                                     'Centro I',
                                     'Norte I',
                                     'Norte I',
                                     'Norte I',
                                     'Centro I')})

In [11]:
poblaciones

             animal  poblacion     region
0            jaguar          6  Sureste I
1           ocelote          3  Sureste I
2           ajolote        123   Centro I
3            coyote         12   Centro I
4            jaguar       1023  Sureste I
5         teporingo          6   Centro I
6            coyote         20    Norte I
7              lobo        200    Norte I
8  borrego cimarrón          2    Norte I
9            jaguar         15   Centro I

## El método melt().

Este metódo modifica la esrtuctura de un dataframe identifando dos elementos:
* identificadores.
* variables.

In [12]:
pd.melt(poblaciones, id_vars=["animal", "region"], value_vars=["poblacion"])

             animal     region   variable  value
0            jaguar  Sureste I  poblacion      6
1           ocelote  Sureste I  poblacion      3
2           ajolote   Centro I  poblacion    123
3            coyote   Centro I  poblacion     12
4            jaguar  Sureste I  poblacion   1023
5         teporingo   Centro I  poblacion      6
6            coyote    Norte I  poblacion     20
7              lobo    Norte I  poblacion    200
8  borrego cimarrón    Norte I  poblacion      2
9            jaguar   Centro I  poblacion     15

## El método *stack()*.

Este método transforma a un dataframe en un conjunto de series.

Lasd series resultantes cuentan con más de un índice y por eso se conocen como *MultiIndex*.

In [14]:
poblacion = pd.DataFrame({'Animal':('lobo',
                                   'coyote',
                                   'jaguar',
                                   'cerdo salvaje',
                                    'tapir',
                                    'venado',
                                    'ocelote',
                                    'puma'),
                         'Norte_I':(12,
                                   np.NAN,
                                    None,
                                    2,
                                    4,
                                    2,
                                    14,
                                    5
                                   ),
                          'Norte_II':(23,
                                    4,
                                    25,
                                    21,
                                    9,
                                    121,
                                    1,
                                    2
                                   ),
                         'Centro_I':(15,
                                    23,
                                    2,
                                    120,
                                    40,
                                    121,
                                    0,
                                    5),
                         'Sur_I':(28,
                                  46,
                                  14,
                                  156,
                                  79,
                                  12,
                                  2,
                                  np.NAN)}).set_index('Animal')

In [40]:
poblacion

               Norte_I  Norte_II  Centro_I  Sur_I
Animal
lobo              12.0        23        15   28.0
coyote             NaN         4        23   46.0
jaguar             NaN        25         2   14.0
cerdo salvaje      2.0        21       120  156.0
tapir              4.0         9        40   79.0
venado             2.0       121       121   12.0
ocelote           14.0         1         0    2.0
puma               5.0         2         5    NaN

In [17]:
serie_poblacion = poblacion.stack()

In [18]:
serie_poblacion

Animal
lobo           Norte_I      12.0
               Norte_II     23.0
               Centro_I     15.0
               Sur_I        28.0
coyote         Norte_II      4.0
               Centro_I     23.0
               Sur_I        46.0
jaguar         Norte_II     25.0
               Centro_I      2.0
               Sur_I        14.0
cerdo salvaje  Norte_I       2.0
               Norte_II     21.0
               Centro_I    120.0
               Sur_I       156.0
tapir          Norte_I       4.0
               Norte_II      9.0
               Centro_I     40.0
               Sur_I        79.0
venado         Norte_I       2.0
               Norte_II    121.0
               Centro_I    121.0
               Sur_I        12.0
ocelote        Norte_I      14.0
               Norte_II      1.0
               Centro_I      0.0
               Sur_I         2.0
puma           Norte_I       5.0
               Norte_II      2.0
               Centro_I      5.0
dtype: float64

In [16]:
type(poblacion.stack())

pandas.core.series.Series

In [19]:
serie_poblacion.index

MultiIndex(levels=[['lobo', 'coyote', 'jaguar', 'cerdo salvaje', 'tapir', 'venado', 'ocelote', 'puma'], ['Norte_I', 'Norte_II', 'Centro_I', 'Sur_I']],
           codes=[[0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7], [0, 1, 2, 3, 1, 2, 3, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2]],
           names=['Animal', None])

In [20]:
serie_poblacion['lobo']

Norte_I     12.0
Norte_II    23.0
Centro_I    15.0
Sur_I       28.0
dtype: float64

In [22]:
serie_poblacion['lobo']['Norte_I']

12.0

## El método *unstack()*

Convierte una serie creada con el método *stack()* en un dataframe.

In [21]:
serie_poblacion.unstack()

               Norte_I  Norte_II  Centro_I  Sur_I
Animal
lobo              12.0      23.0      15.0   28.0
coyote             NaN       4.0      23.0   46.0
jaguar             NaN      25.0       2.0   14.0
cerdo salvaje      2.0      21.0     120.0  156.0
tapir              4.0       9.0      40.0   79.0
venado             2.0     121.0     121.0   12.0
ocelote           14.0       1.0       0.0    2.0
puma               5.0       2.0       5.0    NaN

## MultiIndex.

## El método *pivot()*

In [76]:
poblaciones

             animal  poblacion     region
0            jaguar          6  Sureste I
1           ocelote          3  Sureste I
2           ajolote        123   Centro I
3            coyote         12   Centro I
4            jaguar       1023  Sureste I
5         teporingo          6   Centro I
6            coyote         20    Norte I
7              lobo        200    Norte I
8  borrego cimarrón          2    Norte I
9            jaguar         15   Centro I

In [82]:
poblaciones.pivot_table(columns='animal', values='poblacion', index='Centro_I')

KeyError: 'Centro_I'

In [83]:
help(poblaciones.pivot)

Help on method pivot in module pandas.core.frame:

pivot(index=None, columns=None, values=None) method of pandas.core.frame.DataFrame instance
    Return reshaped DataFrame organized by given index / column values.

    Reshape data (produce a "pivot" table) based on column values. Uses
    unique values from specified `index` / `columns` to form axes of the
    resulting DataFrame. This function does not support data
    aggregation, multiple values will result in a MultiIndex in the
    columns. See the :ref:`User Guide <reshaping>` for more on reshaping.

    Parameters
    ----------
    index : string or object, optional
        Column to use to make new frame's index. If None, uses
        existing index.
    columns : string or object
        Column to use to make new frame's columns.
    values : string, object or a list of the previous, optional
        Column(s) to use for populating new frame's values. If not
        specified, all remaining columns will be used and the result will
        have hierarchically indexed columns.

        .. versionchanged :: 0.23.0
           Also accept list of column names.

    Returns
    -------
    DataFrame
        Returns reshaped DataFrame.

    Raises
    ------
    ValueError:
        When there are any `index`, `columns` combinations with multiple
        values. `DataFrame.pivot_table` when you need to aggregate.

    See Also
    --------
    DataFrame.pivot_table : Generalization of pivot that can handle
        duplicate values for one index/column pair.
    DataFrame.unstack : Pivot based on the index values instead of a
        column.

    Notes
    -----
    For finer-tuned control, see hierarchical indexing documentation along
    with the related stack/unstack methods.

    Examples
    --------
    >>> df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
    ...                            'two'],
    ...                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
    ...                    'baz': [1, 2, 3, 4, 5, 6],
    ...                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
    >>> df
        foo   bar  baz  zoo
    0   one   A    1    x
    1   one   B    2    y
    2   one   C    3    z
    3   two   A    4    q
    4   two   B    5    w
    5   two   C    6    t

    >>> df.pivot(index='foo', columns='bar', values='baz')
    bar  A   B   C
    foo
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar')['baz']
    bar  A   B   C
    foo
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])
          baz       zoo
    bar   A  B  C   A  B  C
    foo
    one   1  2  3   x  y  z
    two   4  5  6   q  w  t

    A ValueError is raised if there are any duplicates.

    >>> df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
    ...                    "bar": ['A', 'A', 'B', 'C'],
    ...                    "baz": [1, 2, 3, 4]})
    >>> df
       foo bar  baz
    0  one   A    1
    1  one   A    2
    2  two   B    3
    3  two   C    4

    Notice that the first two rows are the same for our `index`
    and `columns` arguments.

    >>> df.pivot(index='foo', columns='bar', values='baz')
    Traceback (most recent call last):
       ...
    ValueError: Index contains duplicate entries, cannot reshape

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>