[![img/pythonista.png](img/pythonista.png)](https://www.pythonista.io)

# El método ```pd.DataFrame.merge()```.

In [ ]:
import pandas as pd
from datetime import datetime

El método ```pd.DataFrame.merge()``` permite crear en un nuevo *dataframe* a partir de la relación entre el *dataframe* de origen y el que se ingresa como *argumento*, indicando las columnas en las que pueda encontrar elementos coincidentes.


```
df.merge(<df>, left_on=[<coli_1>, <coli_2>, ..., <coli_n>], 
    right_on=[<cold_1>, <cold_2>, ..., <col_d n>], 
    on=[<col_1>, <col_2>,.. <col_n>],
    how=<modo>)
```

Donde:

* ```<df>``` es un *dataframe* de *Pandas*.
* Cada ```<coli_i>``` es un objeto ```<str>``` que corresponde al identificador de una columna del *dataframe* que contiene al método.
* ```<cold_i>``` es un objeto ```<str>``` que corresponde al identificador de una columna del *dataframe* ```<df>```.
* Cada ```<col_i>```es un objeto ```<str>``` que corresponde al identificador de una columna que comparte el mismo nombre en ambos *dataframes*.
* ```<modo>``` es el modo en el que se realizará la combinación y puede ser:

    * ```'inner'```, el cual es el valor por defecto.
    * ```'outer'```
    * ```'left'```
    * ```'right'```
    
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

**Ejemplos:**

* La siguiente celda creará al *dataframe* ```clientes```, el cual contiene a las columnas:

* ```'ident'```.
* ```'nombre'```.
* ```'primer apellido'```.
* ```'suc_origen'```.

In [ ]:
clientes = pd.DataFrame({'ident':(19232, 
                             19233, 
                             19234, 
                             19235, 
                             19236),
                       'nombre':('Adriana',
                               'Marcos',
                               'Rubén',
                               'Samuel',
                               'Martha'),
                       'primer apellido':('Sánchez',
                                        'García',
                                        'Rincón',
                                        'Oliva',
                                         'Martínez'),
                        'suc_origen':('CDMX01',
                                      'CDMX02',
                                      'CDMX02',
                                      'CDMX01',
                                      'CDMX03')
                        })

In [ ]:
clientes

* La siguiente celda creará al *dataframe* ```sucursales```, el cual contiene a las columnas:

* ```'clave'```.
* ```nombre_comercial```.

In [ ]:
sucursales = pd.DataFrame({'clave':('CDMX01', 
                                  'CDMX02', 
                                  'MTY01', 
                                  'GDL01'),
                         'nombre_comercial':('Galerías',
                                             'Centro',
                                             'Puerta de la Silla',
                                             'Minerva Plaza')})

In [ ]:
sucursales

* La siguiente celda creará al *dataframe* ```facturas```, el cual contiene a las columnas:

* ```'folio'```.
* ```'sucursal'```.
* ```'monto'```.
* ```'fecha'```.
* ```'cliente'```.

In [ ]:
facturas = pd.DataFrame({'folio':(15234, 
          
                                  15235, 
                      15236, 
                      15237, 
                      15238, 
                      15239, 
                      15240,
                      15241,
                      15242),
             'sucursal':('CDMX01',
                         'MTY01',
                         'CDMX02',
                         'CDMX02',
                         'MTY01',
                         'GDL01',
                         'CDMX02',
                         'MTY01',
                         'GDL01'),
             'monto':(1420.00,
                     1532.00,
                     890.00,
                     1300.00,
                     3121.47,
                     1100.5,
                     12230,
                     230.85,
                     1569),
             'fecha':(datetime(2019,3,11,17,24),
                     datetime(2019,3,24,14,46),
                     datetime(2019,3,25,17,58),
                     datetime(2019,3,27,13,11),
                     datetime(2019,3,31,10,25),
                     datetime(2019,4,1,18,32),
                     datetime(2019,4,3,11,43),
                     datetime(2019,4,4,16,55),
                     datetime(2019,4,5,12,59)),
            'cliente':(19234,
                       19232,
                       19235,
                       19233,
                       19236,
                       19237,
                       19232,
                       19233,
                       19232)
                        })

In [ ]:
facturas

* Cada una de las siguentes dos celdas regresarán un *dataframe* que relacionará los elementos de ```facturas["sucursal"]``` con ```sucursales["clave"]```.

In [ ]:
facturas.merge(sucursales, left_on="sucursal", right_on="clave")

In [ ]:
sucursales.merge(facturas, left_on="clave", right_on="sucursal")

* La siguente celda regresará un *dataframe* que relacionará los elementos de ```facturas["cliente"]``` con ```clientes["ident"]```.

In [ ]:
facturas.merge(clientes, left_on="cliente", right_on="ident")

* La siguente celda regresará un *dataframe* que relacionará los elementos de ```clientes["suc_origen"]``` con ```sucursales["clave"]```.

In [ ]:
clientes.merge(sucursales, left_on='suc_origen', right_on='clave')

* La siguente celda regresará un *dataframe* que relacionará:
    * Los elementos de ```facturas["cliente"]``` con ```clientes["ident"]```.
    * Los elementos de ```facturas["sucursal"]``` con ```clientes["suc_origen"]```.

* El *dataframe* resultante contendrá exclusivamente aquellos elementos en los que exista coincidencia en ambas relaciones.

In [ ]:
facturas.merge(clientes, left_on=["cliente", "sucursal"],
               right_on=["ident", "suc_origen"])

* La siguente celda regresará un *dataframe* que relacionará:
    * Los elementos de ```facturas["cliente"]``` con ```clientes["ident"]```.
    * Los elementos de ```facturas["sucursal"]``` con ```clientes["suc_origen"]```.
    * Se ingresará el argumento ```how="inner"```.

* El *dataframe* resultante contendrá exclusivamente aquellos elementos en los que exista coincidencia en ambas relaciones.

In [ ]:
facturas.merge(clientes, left_on=["cliente", "sucursal"],
               right_on=["ident", "suc_origen"], how="inner")

* La siguente celda regresará un *dataframe* que relacionará:
    * Los elementos de ```facturas["cliente"]``` con ```clientes["ident"]```.
    * Los elementos de ```facturas["sucursal"]``` con ```clientes["suc_origen"]```.
    * Se ingresará el argumento ```how="outer"```.

* El *dataframe* resultante:
     * Contendrá a todas las posibles relaciones entre los *dataframes* ```facturas``` y ```clientes```.
     * Cuando no existan coincidencias entre *dataframes*, la información faltante será completada con valores ```np.NaN```.

In [ ]:
facturas.merge(clientes, left_on=["cliente", "sucursal"],
               right_on=["ident", "suc_origen"], how="outer")

* La siguente celda regresará un *dataframe* que relacionará:
    * Los elementos de ```facturas["cliente"]``` con ```clientes["ident"]```.
    * Los elementos de ```facturas["sucursal"]``` con ```clientes["suc_origen"]```.
    * Se ingresará el argumento ```how="left"```.

* El *dataframe* resultante:
     * Contendrá a las posibles relaciones del *dataframes* ```facturas```.
     * Cuando no existan coincidencias entre *dataframes*, la información faltante será completada con valores ```np.NaN```.

In [ ]:
facturas.merge(clientes, left_on=["cliente", "sucursal"],
               right_on=["ident", "suc_origen"], how="left")

* La siguente celda regresará un *dataframe* que relacionará:
    * Los elementos de ```facturas["cliente"]``` con ```clientes["ident"]```.
    * Los elementos de ```facturas["sucursal"]``` con ```clientes["suc_origen"]```.
    * Se ingresará el argumento ```how="right"```.

* El *dataframe* resultante:
     * Contendrá a las posibles relaciones del *dataframes* ```clientes```.
     * Cuando no existan coincidencias entre *dataframes*, la información faltante será completada con valores ```np.NaN```.

In [ ]:
facturas.merge(clientes, left_on=["cliente", "sucursal"],
               right_on=["ident", "suc_origen"], how="right")

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2023.</p>