[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

In [3]:
import pandas as pd

Los objetos instamciado de la clase *pd.MultiIndex* son estructuras que permiten crear identificadores que agrupan a otros identificadores tanto de columnas como de índices en un dataframe.

Estos objetos están conformados por:
    * niveles(levels) es se van desagregando conforme descienden).
    * codigos de ordenamiento (codes).
    * nombres(names) correspondientes a cada nivel.

 ## Creación de un objeto *pd.MultiIndex*.
 
 Para la creación de objetos instanciados de *pd.MultiIndex* s epeuden utilizar los siguientes métodos de clase:
 
 * *from_arrays()*
 * *from_tuples()*
 * *from_products()*
 * *from_dataframes()*
 
 ```
 pd.MultiIndex.<método>(<objeto>, names=<interable con un nombre para cada nivel>
 ```

* A continuación se crearán objetos similares utilizando  *from_tuples()*.

In [13]:
lista = []
for zona in ('Norte_I', 'Sur_I', 'Centro_I'):
    for animal in ('jaguar', 'conejo', 'lobo'):
        lista.append((zona, animal))
tupla=tuple(lista)

In [14]:
tupla

(('Norte_I', 'jaguar'),
 ('Norte_I', 'conejo'),
 ('Norte_I', 'lobo'),
 ('Sur_I', 'jaguar'),
 ('Sur_I', 'conejo'),
 ('Sur_I', 'lobo'),
 ('Centro_I', 'jaguar'),
 ('Centro_I', 'conejo'),
 ('Centro_I', 'lobo'))

In [56]:
pd.MultiIndex.from_tuples(tupla, names=['región', 'animal'])

MultiIndex(levels=[['Centro_I', 'Norte_I', 'Sur_I'], ['conejo', 'jaguar', 'lobo']],
           codes=[[1, 1, 1, 2, 2, 2, 0, 0, 0], [1, 0, 2, 1, 0, 2, 1, 0, 2]],
           names=['región', 'animal'])

* A continuación se crearán objetos similares utilizando  *from_products()*.

In [58]:
pd.MultiIndex.from_product([('Norte_I', 'Sur_I', 'Centro_I'), 
                            ('jaguar', 'conejo', 'lobo')])

MultiIndex(levels=[['Centro_I', 'Norte_I', 'Sur_I'], ['conejo', 'jaguar', 'lobo']],
           codes=[[1, 1, 1, 2, 2, 2, 0, 0, 0], [1, 0, 2, 1, 0, 2, 1, 0, 2]])

* Del objeto anterior se definirán las columnas de un dataframe.

In [59]:
columnas = pd.MultiIndex.from_product([('Norte_I', 'Sur_I', 'Centro_I'),
                                       ('jaguar', 'conejo', 'lobo')])

In [38]:
poblacion = pd.DataFrame([[12, 11, 24, 32, 15, 42, 35, 11, 35],
                          [23, 22, 54, 3, 34, 24, 39, 29, 11],
                          [35, 32, 67, 15, 42, 34, 46, 40, 13],
                          [33, 43, 87, 11, 61, 42, 52, 41, 15],
                          [44, 56, 98, 16, 70, 50, 57, 41, 17],
                          [53, 62, 103, 21, 74, 54, 69, 55, 23]], 
                         index=('enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio'),
                         columns=columnas)

In [30]:
poblacion

región  Norte_I              Sur_I             Centro_I
animal   jaguar conejo lobo jaguar conejo lobo   jaguar conejo lobo
enero        12     11   24     32     15   42       35     11   35
febrero      23     22   54      3     34   24       39     29   11
marzo        35     32   67     15     42   34       46     40   13
abril        33     43   87     11     61   42       52     41   15
mayo         44     56   98     16     70   50       57     41   17
junio        53     62  103     21     74   54       69     55   23

## Indexado.

In [43]:
poblacion['Norte_I']

animal   jaguar  conejo  lobo
enero        12      11    24
febrero      23      22    54
marzo        35      32    67
abril        33      43    87
mayo         44      56    98
junio        53      62   103

In [44]:
poblacion['Sur_I']['jaguar']

enero      32
febrero     3
marzo      15
abril      11
mayo       16
junio      21
Name: jaguar, dtype: int64

## El metódo *droplevel()*.

```
<objeto MultiIndex>.droplevel(<nivel>)
```

In [61]:
columnas

MultiIndex(levels=[['Centro_I', 'Norte_I', 'Sur_I'], ['conejo', 'jaguar', 'lobo']],
           codes=[[1, 1, 1, 2, 2, 2, 0, 0, 0], [1, 0, 2, 1, 0, 2, 1, 0, 2]])

In [62]:
columnas.droplevel(0)

Index(['jaguar', 'conejo', 'lobo', 'jaguar', 'conejo', 'lobo', 'jaguar',
       'conejo', 'lobo'],
      dtype='object')

In [63]:
poblacion.columns.droplevel('región')

Index(['jaguar', 'conejo', 'lobo', 'jaguar', 'conejo', 'lobo', 'jaguar',
       'conejo', 'lobo'],
      dtype='object', name='animal')

In [64]:
poblacion

región  Norte_I              Sur_I             Centro_I
animal   jaguar conejo lobo jaguar conejo lobo   jaguar conejo lobo
enero        12     11   24     32     15   42       35     11   35
febrero      23     22   54      3     34   24       39     29   11
marzo        35     32   67     15     42   34       46     40   13
abril        33     43   87     11     61   42       52     41   15
mayo         44     56   98     16     70   50       57     41   17
junio        53     62  103     21     74   54       69     55   23

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>