[![img/pythonista.png](img/pythonista.png)](https://www.pythonista.io)

# Métodos de enmascaramiento.

In [2]:
import pandas as pd

En este capítulo se explorarán los métodos que permiten sustituir los valores de un *dataframe* mediante otro *dataframe* con valores booleanos.

## *Dataframe* ilustrativo.

El *dataframe* ```poblacion``` representa un censo poblacional de especies animales en diversas regiones geográficas.

Las poblaciones de animales censadas representan los índices del *dataframe* y son:
* ```'lobo'```.
* ```'jaguar'```.
* ```'coyote'```.
* ```'halcón'```. 
* ```'lechuza'```.
* ```'aguila'```.

Las regiones geográficas representan la columnas del *dataframe* y son:

* ```Norte_1```.
* ```Norte_2```.
* ```Sur_1```.
* ```Sur_2```.

In [6]:
indice = ('lobo', 'jaguar', 'coyote', 'halcón', 'lechuza', 'aguila')
poblacion = pd.DataFrame({'Norte_1':(25,
                                                0,
                                                45,
                                                23,
                                                67,
                                                12),
                                     'Norte_2':(31,
                                                0,
                                                23,
                                                3,
                                                34,
                                                 2),
                                     'Sur_1':(0,
                                              4,
                                              3,
                                              1,
                                              1,
                                              2),
                                     'Sur_2':(2,
                                              0,
                                              12,
                                              23,
                                              11,
                                              2)},
                                   index=indice)

## Enmascaramiento.

Se entiende por "enmascaramiento" la aplicación sobre un *datraframe* otro *dataframe* de tamaño idéntico, pero compuesto por valores booleanos (*dataframe* de máscara), con la finalidad de sustituir cada valor del *dataframe* original en función del valor booleano correspondiente.

## El método ```mask()```.

El método ```mask()``` permite sutituir por un valor predeterminado a aquellos elementos cuya contraparte en el objeto usado como máscara sea ```True```.

```
<objeto>.mask(<objeto máscara>, <valor>)
```

Donde:

* ```<objeto>``` es una serie o un *dataframe*.
* ```<objeto máscara>``` es una serie o un *dataframe* de dimensiones idénticas a ```<objeto>``` donde todos su elementos son de tipo ```bool```.
* ```valor``` es el valor que sutituirá a aquellos elementos en ```<objeto>``` cuya contraparte en ```<objeto máscara>``` sea ```True```.

**Ejemplo:**

* Se uitlizará el *dataframe* ```poblacion``` definido previamente.

In [ ]:
poblacion

* Se creará el *dataframe* ```poblacion_evaluada``` validando si cada elemento del ```poblacion``` es igual a ```0```.

In [ ]:
poblacion_evaluada = poblacion == 0

In [ ]:
poblacion_evaluada

* La siguiente celda sustiruirá con la cadena ```'extinto'``` a cada valor en el *dataframe* ```poblacion``` que corresponda a ```True``` en el *dataframe* ```poblacion_evaluada```.

In [ ]:
poblacion.mask(poblacion_evaluada, 'extinto')

## El método ```where()```.


El método ```where()``` permite sustituir por un valor predeterminado a aquellos elementos cuya contraparte en el objeto usado como máscara sea ```False```.

```
<objeto>.where(<objeto máscara>, <valor>)
```

Donde:

* ```<objeto>``` es una serie o un *dataframe*.
* ```<objeto máscara>``` es una serie o un *dataframe* de dimensiones idénticas a ```<objeto>``` donde todos su elementos son de tipo ```bool```.
* ```valor``` es el valor que sutituirá a aquellos elementos en ```<objeto>``` cuya contraparte en ```<objeto máscara>``` sea ```False```.

**Ejemplo:**

* La siguiente celda sustituirá a cada valor del *dataframe* ```poblacion``` que al validar si es menor que ```10``` de por resultado ```False``` por la cadena ```'sin riesgo'```.

In [ ]:
poblacion.where(poblacion < 10, 'sin riesgo')

## Ejemplo de combinación de ```mask()``` y ```where()```.

* La siguiente celda sustituirá por ```'sin riesgo'``` a aquellos elementos cuyo valor sea mayor o igual ```10``` y sustituirá por ```'amenazado'``` a aquellos elementos cuyo valor sea menor a ```2``` en el *dataframe* ```poblacion```.

In [ ]:
poblacion.where(poblacion < 10, 'sin riesgo').\
    mask(poblacion < 2, 'amenazados')

* La siguiente celda usará los métodos ```filter()```, ```where()``` y ```mask()``` para aplicar el criterio del ejemplo previo, pero sólo a la columna ```'Sur-2```.

In [ ]:
poblacion.filter(items=['Sur_2']).\
           where(poblacion < 10, 'sin riesgo').\
           mask(poblacion < 2, 'amenazados')

## El método ```query()```.

In [4]:
poblacion

         Norte_1  Norte_2  Sur_1  Sur_2
lobo          25       31      0      2
jaguar         0        0      4      0
coyote        45       23      3     12
halcón        23        3      1     23
lechuza       67       34      1     11
aguila        12        2      2      2

In [9]:
poblacion["Norte_1"] == 0

lobo       False
jaguar      True
coyote     False
halcón     False
lechuza    False
aguila     False
Name: Norte_1, dtype: bool

In [10]:
poblacion[poblacion["Norte_1"] == 0]

        Norte_1  Norte_2  Sur_1  Sur_2
jaguar        0        0      4      0

In [14]:
poblacion.query('Norte_1 == 0')

        Norte_1  Norte_2  Sur_1  Sur_2
jaguar        0        0      4      0

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2022.</p>