[![img/pythonista.png](img/pythonista.png)](https://www.pythonista.io)

# Limpieza y datos faltantes.

En este capítulo se explorarán diversos métodos enfocados a gestionar dataframes que no son homogéneos en sus contenidos.

In [ ]:
import pandas as pd
import numpy as np

## El Dataframe ilustrativo.

El dataframe ```poblacion``` describe una serie de muestras poblacionales de animales en varias regiones geográficas.

In [ ]:
poblacion = pd.DataFrame({'Animal':('lobo',
                                   'coyote',
                                   'jaguar',
                                   'cerdo salvaje',
                                    'tapir',
                                    'venado',
                                    'ocelote',
                                    'puma'),
                         'Norte_I':(12,
                                   np.NAN,
                                    None,
                                    2,
                                    4,
                                    2,
                                    14,
                                    5
                                   ),
                          'Norte_II':(23,
                                    4,
                                    25,
                                    21,
                                    9,
                                    121,
                                    1,
                                    2
                                   ),
                         'Centro_I':(15,
                                    23,
                                    2,
                                    None,
                                    40,
                                    121,
                                    0,
                                    5),
                         'Sur_I':(28,
                                  46,
                                  14,
                                  156,
                                  79,
                                  12,
                                  2,
                                  np.NAN)}).set_index('Animal')

In [ ]:
poblacion

In [ ]:
poblacion_2 = poblacion = pd.DataFrame({'Norte_I':(12,
                                   np.NAN,
                                    None,
                                    2,
                                    4,
                                    2,
                                    14,
                                    5
                                   ),
                          'Norte_II':(23,
                                    4,
                                    25,
                                    21,
                                    9,
                                    121,
                                    1,
                                    2
                                   ),
                         'Centro_I':(15,
                                    23,
         
                                     2,
                                    None,
                                    40,
                                    121,
                                    0,
                                    5),
                         'Sur_I':(28,
                                  46,
                                  14,
                                  156,
                                  79,
                                  12,
                                  2,
                                  np.NAN)})

## El método ```ìnterplolate()```.

Este método utlizará un algoritmo de interpolación para sustituir los elementos ```NaN```.


https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html

In [ ]:
poblacion_2

In [ ]:
poblacion_2.interpolate(method="pad")

In [ ]:
poblacion_2.interpolate(method="linear")

In [ ]:
poblacion_2.interpolate(method="quadratic")

In [ ]:
poblacion_2

In [ ]:
poblacion_2.interpolate(method="zero")

## Métodos de validación de *NaN*.

En muchos casos, los dataframes incluyen objetos de tipo ```np.NaN```. Por lo general este tipo de dato denota datos incompletos cuyo verdadero valor es desconocido.

Poder transformar eficientemente ```np.NaN``` en valores relevantes requiere de experiencia y conocimiento de los datos con los que se trabaja,

### El método ```isna()```.

Este métido va a detectar los elementos que contienen ```NaN```.

**Ejemplo:**

* La siguiente celda evaluará cada elemento de ```población``` validando si existe algún valor igual a ```NaN```. En caso de que el elemento sea ```NaN```, el valor dentro del dataframe resultante será ```True```.

In [ ]:
poblacion.isna()

### El método ```isnull()```.

Este método va a detectar los elementos que contienen ```NaN``` o ```None```.

In [ ]:
poblacion

In [ ]:
poblacion.isnull()

### El método ```notna()```.

Este métido va a detectar los elementos que no contienen ```NaN```.

**Ejemplo"**

* La siguiente celda evaluará a cada elemento de ```poblacion``` validando si existe algún valor igual a ```NaN```. En caso de que el elemento sea ```NaN```, el valor dentro del dataframe resultante será ```False```.

In [ ]:
poblacion.notna()

### El método ```notnull()```.

Este métido va a detectar los elementos que no contienen  ```NaN``` o ```None```.

In [ ]:
poblacion.notnull()

## El método ```fillna()```.

Este método sustituirá los valores ```NaN``` con el valor designado como argumento.


```
<df>.fillna(<objeto>)
```

Donde:

* ```df``` es un dataframe de ```Pandas```.
* ```<objeto>``` es cualquier objeto de *Python*,  *Numpy* o de *Pandas*.

**Ejemplo:**

In [ ]:
poblacion

Las siguientes celdas sustituirán a los elementos ```NaN``` por el objeto ingresado como argumento.

In [ ]:
poblacion.fillna(0)

In [ ]:
poblacion.fillna(15)

In [ ]:
poblacion.fillna("inválido")

## El método ```interpolate()```.

Este método realiza cáclulos de interpolación para sustituir a ```NaN```.


```
<df>.interpolate(method=<método>, axis=<eje>)
```

Donde:

* ```<df>``` es un dataframe de *Pandas*.
* ```<método>```es un método de interpolación. El valor por defecto es ```'linear```'.
* ```<eje>``` define el eje desde el cual se tomarán los elementos de interpolación.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html

**Nota:** *Scipy* cuenta con diversos algoritmos de interpolación, los cuales pueden ser consultados en: https://docs.scipy.org/doc/scipy/reference/interpolate.html

In [ ]:
poblacion.interpolate()

In [ ]:
poblacion

In [ ]:
poblacion.interpolate(axis=1)

In [ ]:
poblacion.interpolate(method="zero")

## El método ```dropna()```.

Este método desechará los renglones con NaN.

In [ ]:
poblacion

In [ ]:
poblacion.dropna()

In [ ]:
poblacion.dropna(axis=1)

## El método ```duplicated()```.

Identifica aquellos renglones duplicados.

In [ ]:
poblacion.duplicated()

In [ ]:
otra_poblacion = pd.DataFrame({'Animal':('lobo',
                                   'coyote',
                                   'jaguar',
                                   'cerdo salvaje',
                                    'tapir',
                                    'venado',
                                    'ocelote',
                                    'puma'),
                         'Norte_I':(12,
                                    4,
                                    None,
                                    2,
                                    4,
                                    2,
                                    14,
                                    4
                                   ),
                          'Norte_II':(23,
                                    4,
                                    25,
                                    21,
                                    9,
                                    121,
                                    1,
                                    4
                                   ),
                         'Centro_I':(15,
                                    4,
                                    2,
                                    120,
                                    40,
                                    121,
                                    0,
                                    4),
                         'Sur_I':(28,
                                  4,
                                  14,
                                  156,
                                  79,
                                  12,
                                  2,
                                  4)}).set_index('Animal')

In [ ]:
otra_poblacion

In [ ]:
otra_poblacion.duplicated()

## El método ```drop_duplicates()```.

Este método elimina renglones duplicados.

In [ ]:
otra_poblacion.drop_duplicates()

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2021.</p>