[![imag/pythonista.png](img/pythonista.png)](https://www.pythonista.io)

# Gestión de fechas con `pd.dt`.

Pandas tiene un módulo específico para trabajar con fechas, el cual se llama `pd.dt`. Este módulo nos permite realizar diversas operaciones y transformaciones sobre columnas de tipo fecha en nuestros *dataframes*.

In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

## La función `pd.date_range()`.

La función `pd.date_range()` permite generar un rango de fechas con una frecuencia específica.


```
pd.date_range(start=<inicio>, end=<fin>, freq=<frecuencia>)
```
Donde:
* `<inicio>` es la fecha de inicio del rango.
* `<fin>` es la fecha de fin del rango .
* `<frecuencia>` es la frecuencia con la que se generan las fechas.

Las frecuencias más comunes son:
* `D`: diaria.
* `M`: mensual.
* `Y`: anual.
* `h`: horaria.
* `T`: minuciosa.
* `s`: por segundo.

El resultado de `pd.date_range()` es un objeto de tipo `DatetimeIndex`, que es una colección de fechas.

La documentación de `pd.date_range()` se puede encontrar en: 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html

**Ejemplos:**

In [17]:
pd.date_range('2019-01-01', '2019-12-31', freq='D')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [13]:
pd.date_range('2019-01-01', '2019-12-31', freq='W', tz='America/Mexico_City')

DatetimeIndex(['2019-01-06 00:00:00-06:00', '2019-01-13 00:00:00-06:00',
               '2019-01-20 00:00:00-06:00', '2019-01-27 00:00:00-06:00',
               '2019-02-03 00:00:00-06:00', '2019-02-10 00:00:00-06:00',
               '2019-02-17 00:00:00-06:00', '2019-02-24 00:00:00-06:00',
               '2019-03-03 00:00:00-06:00', '2019-03-10 00:00:00-06:00',
               '2019-03-17 00:00:00-06:00', '2019-03-24 00:00:00-06:00',
               '2019-03-31 00:00:00-06:00', '2019-04-07 00:00:00-06:00',
               '2019-04-14 00:00:00-05:00', '2019-04-21 00:00:00-05:00',
               '2019-04-28 00:00:00-05:00', '2019-05-05 00:00:00-05:00',
               '2019-05-12 00:00:00-05:00', '2019-05-19 00:00:00-05:00',
               '2019-05-26 00:00:00-05:00', '2019-06-02 00:00:00-05:00',
               '2019-06-09 00:00:00-05:00', '2019-06-16 00:00:00-05:00',
               '2019-06-23 00:00:00-05:00', '2019-06-30 00:00:00-05:00',
               '2019-07-07 00:00:00-05:00', '2019-07-14 00:00:00-05:00',
               '2019-07-21 00:00:00-05:00', '2019-07-28 00:00:00-05:00',
               '2019-08-04 00:00:00-05:00', '2019-08-11 00:00:00-05:00',
               '2019-08-18 00:00:00-05:00', '2019-08-25 00:00:00-05:00',
               '2019-09-01 00:00:00-05:00', '2019-09-08 00:00:00-05:00',
               '2019-09-15 00:00:00-05:00', '2019-09-22 00:00:00-05:00',
               '2019-09-29 00:00:00-05:00', '2019-10-06 00:00:00-05:00',
               '2019-10-13 00:00:00-05:00', '2019-10-20 00:00:00-05:00',
               '2019-10-27 00:00:00-05:00', '2019-11-03 00:00:00-06:00',
               '2019-11-10 00:00:00-06:00', '2019-11-17 00:00:00-06:00',
               '2019-11-24 00:00:00-06:00', '2019-12-01 00:00:00-06:00',
               '2019-12-08 00:00:00-06:00', '2019-12-15 00:00:00-06:00',
               '2019-12-22 00:00:00-06:00', '2019-12-29 00:00:00-06:00'],
              dtype='datetime64[ns, America/Mexico_City]', freq='W-SUN')

In [18]:
pd.date_range('2019-01-01', '2019-01-07', freq='h')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-01-06 15:00:00', '2019-01-06 16:00:00',
               '2019-01-06 17:00:00', '2019-01-06 18:00:00',
               '2019-01-06 19:00:00', '2019-01-06 20:00:00',
               '2019-01-06 21:00:00', '2019-01-06 22:00:00',
               '2019-01-06 23:00:00', '2019-01-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='h')

## *Dataframe* ilustrativo.

In [9]:
fechas = pd.date_range(start="2019-01-01", end="2019-12-31", freq="D")

In [11]:
ventas_diarias = pd.DataFrame({'fechas': fechas, 'ventas': np.random.randint(1000, 5000, size=len(fechas))})

In [12]:
ventas_diarias

        fechas  ventas
0   2019-01-01    3996
1   2019-01-02    1110
2   2019-01-03    4656
3   2019-01-04    1659
4   2019-01-05    3556
..         ...     ...
360 2019-12-27    2307
361 2019-12-28    1706
362 2019-12-29    2645
363 2019-12-30    4023
364 2019-12-31    1677

[365 rows x 2 columns]

## El atributo `.dt` para extraer componentes de fechas.

 Las columnas de tipo `datetime` en un *dataframe* pueden tener el atributo `.dt`, que nos permite extraer componentes específicos de las fechas, como el año, mes, día, etc.

 Los componentes más comunes que se pueden extraer con `.dt` son:
* `.dt.year`: extrae el año de la fecha.
* `.dt.month`: extrae el mes de la fecha.
* `.dt.day`: extrae el día de la fecha.
* `.dt.hour`: extrae la hora de la fecha.
* `.dt.minute`: extrae los minutos de la fecha.
* `.dt.second`: extrae los segundos de la fecha.
* `.dt.weekday`: extrae el día de la semana de la fecha (0 para lunes, 6 para domingo).
* `.dt.day_name()`: extrae el nombre del día de la semana de la fecha.
* `.dt.month_name()`: extrae el nombre del mes de la fecha.

La documentación de los atributos de `Series.dt` se puede encontrar en:

https://pandas.pydata.org/docs/reference/series.html#api-series-dt

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2017-2026.</p>